In [1]:
l = [1,2,3,4,5]

In [2]:
l

[1, 2, 3, 4, 5]

In [5]:
for element in l:
    print(element)

1
2
3
4
5

In [8]:
for num in l:
    print('something!')

something!
something!
something!
something!
something!

# MODULO

In [10]:
10%3

1

In [11]:
18%7

4

In [12]:
4%2

0

In [13]:
15%19

15

In [14]:
7%2

1

In [15]:
l

[1, 2, 3, 4, 5]

In [16]:
for num in l:
    if num % 2 == 0:
        print(num)

2
4

In [17]:
for num in l:
    if num % 2 == 1:
        print(num)

1
3
5

In [19]:
for num in l:
    if num % 2 == 0:
        print('Here is a an even')
    else:
        print('Odd number!')

Odd number!
Here is a an even
Odd number!
Here is a an even
Odd number!

In [20]:
for num in l:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number!')

Odd number!
2
Odd number!
4
Odd number!

In [21]:
l

[1, 2, 3, 4, 5]

In [23]:
list_sum = 0


for num in l:
    list_sum = list_sum + num
    
print(list_sum)

15

In [24]:
list_sum = 0


for num in l:
    list_sum += num
    
print(list_sum)

15

In [25]:
s = 'This is a string'

In [26]:
for item in s: 
    print(item)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [27]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

In [28]:
tup = (1,2,3,4,5)

for item in tup:
    print(item)

1
2
3
4
5

In [29]:
l = [(2,4),(6,8),(10,12)]

In [30]:
l

[(2, 4), (6, 8), (10, 12)]

In [31]:
l[0]

(2, 4)

In [32]:
l[0][0]

2

In [33]:
l[1][1]

8

In [34]:
l[2][0]

10

In [36]:
for tup in l:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [37]:
for (t1,t2) in l:
    print(t1)

2
6
10

In [44]:
for (t1,t2) in l:
    print(t1 - t2)

-2
-2
-2

In [45]:
for (t1,t2) in l:
    print(t2+t1)

6
14
22

In [41]:
d = {'k1':1,'k2':2,'k3':3}

In [42]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [43]:
for item in d:
    print(item)

k1
k3
k2

In [1]:
for (k,v) in d.iteritems():
    print (k)
    print (v)

NameError: name 'd' is not defined